<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>

    </ion-buttons>
    <img src="assets/imgs/radio-mars.png" alt="radioMars_logo" class="logo-resize">

  </ion-toolbar>
</ion-header>
<ion-title class="Titre">Détails Pack Sabahyat</ion-title>
<ion-card>

  <ion-card-header>
    <img src="assets/imgs/pack2.png" alt="pack2" class="image-resize">
    <ion-text>Pack Sabahyat</ion-text>
  </ion-card-header>

<ion-card-content>


  <ion-list lines="none">
    <ion-item>
      <ion-title>Lundi au dimanche</ion-title>
      <ion-label>7h25/10h25/14h55/17h25/19h10</ion-label>
    </ion-item>
    <ion-item>
      <ion-title>1 semaine</ion-title>
      <ion-label>35 spots à 10 500 DHS HT</ion-label>
    </ion-item>
    <ion-item>
      <ion-title>2 semaines</ion-title>
      <ion-label>70 spots à 17 500 DHS HT</ion-label>
    </ion-item>
  </ion-list>
</ion-card-content>