<!-- <ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar style="color: black;">
    <ion-title>
      {{"CONTENT" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      <!-- {{"CONTENT" | translate}} -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"ABOUT" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <ion-card>
    <ion-card-content>
      <ion-img class="image-size" src="../../assets/imgs/radio-mars.png"></ion-img>
      {{"SIMPLE_APP" | translate}}
    </ion-card-content>
  </ion-card> -->

  <ion-card (click)="openRadioDetails()">
    <ion-card-content>
      <ion-img class="image-size" src="../../assets/imgs/radio-mars.png"></ion-img>      
      <div class="controls">
        <!-- <ion-icon name="play" class="control-icon" (click)="playRadio()"></ion-icon>
        <ion-icon name="pause" class="control-icon" (click)="pauseRadio()"></ion-icon>
        <ion-icon name="stop" class="control-icon" (click)="stopRadio()"></ion-icon> -->
        <img src="assets/imgs/live.png" alt="Live" class="card-image">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-segment mode="ios" [value]="segmentValue" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="in">
      <ion-label>Podcasts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="out">
      <ion-label>Videos</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 1 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 2 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
    
  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>


  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>


  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark" class="podcast-card">
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img class="logo" src="../../assets/imgs/radio-mars.png"></ion-img>
      </ion-thumbnail>
      <ion-label class="content">
        <h2 class="title">Podcast 3 : The Passenger (LaLaLa)LUM!X </h2>
      </ion-label>
    </ion-card-content>
  </ion-card>



  
  
</ion-content>
